<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src={{ url_for('static', filename='js/jquery.js') }}></script>
    <script src={{ url_for('static', filename='layer/layer.js') }}></script>
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>

<script>
const Config =  {
    server: '{{ request.host_url + 'service' }}',
    static_server: 'https://ikebo.cn',
    default_avatar: 'https://ikebo.cn/static/uploads/admin/default_avatar.jpg'
}
</script>
{% block script %}
{% endblock %}
</html>
