{% extends "admin/base.html" %}

{% block title %}用户管理{% endblock %}

{% block head %}
    {{ super() }}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #container {
        width: 40%;
        margin: 2rem auto;
    }

    .left img {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
    }

    .user {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-bottom:1.5rem;
    }

    .middle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        font-size: .8em;
        margin-left: 1.5rem;
    }

    .middle button{
        color: #eee;
        width: 4em;
        height: 2em;
        background-color: #92B8B1;
        border-style: none;
        border-radius: 3px;
    }
</style>
{% endblock %}

{% block content %}
<div id="container">
    <div class="user" v-for="user of users">
        <div class="left">
            <img :src="(user && user.avatarUrl) ? user.avatarUrl : default_avatar" />
        </div>

        <div class="middle">
            <p>
                <span>id: </span>
                <span>${ user.id }</span>
                <span>手机号: </span>
                <span>${ user.phoneNumber }</span>
            </p>
            <button type="button" @click="onDel" :data-id="user.id">删除</button>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
let container = new Vue({
    delimiters: ['${', '}'],
    el: '#container',
    created: function() {
        $.ajax({
            url: this.server + '/api/v1/user',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                console.log(data);
                if (data.code === 1) {
                    this.users = data.data;
                }
            }
        })
    },
    data: {
        server: Config['server'],
        default_avatar: Config['default_avatar'],
        users: null
    },
    methods: {
        onDel (e) {
            console.log(e.target.dataset.id);
            let user_id = e.target.dataset.id;
            $.ajax({
                url: this.server + '/api/v1/user/' + user_id,
                type: 'DELETE',
                dataType: 'json',
                success: (data) => {
                    console.log(data)
                    if (data.code == 1) {
                        layer.msg('删除成功')
                    } else {
                        layer.msg('删除失败')
                    }
                }
            })
        }
    }
})

</script>
{% endblock %}
